<?xml version="1.0"?>
<config>
    <modules>
        <Cymbio_Test>
            <version>0.1.1.1</version>
        </Cymbio_Test>
    </modules>
    <global>
        <models>
            <cymbio>
                <class>Cymbio_Test_Model</class>
                <resourceModel>cymbio_resource</resourceModel>
            </cymbio>
            <cymbio_resource>
                <class>Cymbio_Test_Model_Resource</class>
                <entities>
                    <informator>
                        <table>cymbio_events</table>
                    </informator>
                </entities>
            </cymbio_resource>
        </models>
        <resources>
            <cymbiotest_setup>
                <setup>
                    <module>Cymbio_Test</module>
                </setup>
            </cymbiotest_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <extra_addtocart_button>
                        <class>Cymbio_Test_Model_Observer</class>
                        <method>addExtraButton</method>
                    </extra_addtocart_button>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_cart_add_product_complete>
                <observers>
                    <cymbio_add_to_cart>
                        <class>Cymbio_Test_Model_Observer</class>
                        <method>addProductToCart</method>
                    </cymbio_add_to_cart>
                    <cymbio_log_event>
                        <class>Cymbio_Test_Model_Observer</class>
                        <method>logCymbioEvent</method>
                    </cymbio_log_event>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
    <default>
        <cymbio_api_url>
            <general>
                <url>https://server-staging.cym.bio/v1/events/</url>
            </general>
        </cymbio_api_url>
    </default>
</config>